.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.uploadButton {
  text-align: center;
  margin: 0 auto;
}

.photoAlbum {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 7em;
}

.photoAlbumContainer {
  padding: 1em;
}

.photo {
  width: 100%;
  height: auto;
}
