.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
  }

  &__imageDiv {
    margin-bottom: 3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    overflow-x: hidden; // To hide AOS overflow.
  }

  &__dailyProgramImage {
    margin-top: 4em;
    margin-bottom: 4em;
    height: auto;
    width: 100%;
    border-radius: 0em;
  }

  &__nightlyProgramImage {
    margin: 4em;
  }

  &__weddingLocationImage {
    margin-top: 4em;
    margin-bottom: 4em;
    height: auto;
    width: 100%;
    border-radius: 0em;
  }
}
