.container {
  display: flex;
  flex-flow: column wrap;
}

.mainContainer {
  display: flex;
  flex-flow: column wrap;
}

.expandableContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
}

.expandable {
  margin-top: 3em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
