.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
  }

  &__imageDiv {
    margin-bottom: 3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    overflow-x: hidden; // To hide AOS overflow.
  }

  &__dailyProgramImage {
    margin-top: 3em;
    margin-bottom: 3em;
    height: auto;
    width: 100%;
    border-radius: 0em;
  }

  &__nightlyProgramImage {
    margin: 2em;
  }
}

.expandableContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 2em;
}

.menuSelector {
  margin-top: 3em;
  padding: 0.2em;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.2em;
}

.expandableText {
  margin: 1.5em;
  text-align: center;
  font-size: 1em;
  padding: 1em;
  letter-spacing: 0.1em;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
}

.expandableText::before {
  content: '';
  background-image: url('/static/engagement.jpeg');
  background-size: contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.15;
  position: absolute;
}

ul {
  list-style-type: none;
  padding: 0;
}

.wow {
  visibility: hidden;
}
