html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;

  background-color: #fff0f5;
  // width: 100vw;
  height: 100vh;
}

@media only screen and (min-width: 601px) {
  h1 {
    font-size: 3.5em;
    letter-spacing: 0.1em;
    text-align: center;
  }

  h2 {
    font-size: 0.8em;
    letter-spacing: 0.5em;
    text-align: center;
  }

  h4 {
    text-align: center;
    font-weight: normal;
    line-height: 150%;
    letter-spacing: 0.1em;
  }

  p {
    width: 80%;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-align: center;
    line-break: auto;
  }

  ul {
    width: 70%;
    list-style-type: none;
    padding: 0;
    text-align: center;
    line-height: 150%;
    letter-spacing: 0.1em;
  }

  img {
    width: 40%;
    height: auto;
    border-radius: 5em;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
    letter-spacing: 0.1em;
    text-align: center;
  }

  h2 {
    font-size: 0.8em;
    letter-spacing: 0.5em;
    text-align: center;
  }

  h4 {
    text-align: center;
    font-weight: normal;
    line-height: 150%;
    letter-spacing: 0.1em;
  }

  p {
    width: 90%;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-align: center;
    line-break: auto;
  }

  ul {
    width: 90%;
    list-style-type: none;
    padding: 0;
    text-align: center;
    line-height: 150%;
    letter-spacing: 0.1em;
  }

  img {
    width: 80%;
    height: auto;
    border-radius: 5em;
  }
}
