.header {
  text-align: center;
  font-size: 5em;
  letter-spacing: 0.1em;
  margin-bottom: 0em;
}

.subHeader {
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  margin-bottom: 5em;
}
